*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(135deg, #03040d 0%, #273b31 100%)!important;
    height: 100vh;
}

.wrapper{
    display: flex;
    flex-direction: column;
    width: 80vmin;
    padding: 30px 40px 20px 40px;
    position: absolute;
    transform: translate(-50%, -50%);
    top:50%;
    left:50%;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.9px);
    -webkit-backdrop-filter: blur(6.9px);
    border: 1px solid rgba(255, 255, 255, 0.5);
}

span{
    font-size: 70px;
    margin: auto;
}

p{
    font-size: 16px;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
    word-wrap: break-word;
    line-height: 25px;
    margin-top: 20px;
}

#btn{
    padding: 12px 14px;
    border: 0;
    text-decoration: none;
    border-radius: 15px;
    background-color: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(30px);
    color: rgba(255,255,255,0.8);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    cursor: pointer;
    text-transform: uppercase;
    margin-top:40px;
    margin-left: auto;
}

#btn:hover {
  background-color: rgba(255,255,255,0.2);
}
